.css-1mcnwpj-MuiList-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.css-13eg511-MuiButtonBase-root-MuiListItemButton-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.css-10hburv-MuiTypography-root {
    font-size: 0.8rem !important;
    
}

/* .MuiList-root {
    max-height: 150px;
} */